header{

  padding: 60px;
  text-align: center;
  background: #227a28;
  color:white;
  font-size: 30px;
  margin-bottom: 100px;
}

footer{
	background: #227a28;
	color: white;
	margin-top: 100px;
}
footer a, header a{
	color: white;
}
